# format
.format(변수,변수2)

{[인덱스 or 변수명]:[정렬][폭][형식]}
인덱스	.format() 안의 몇 번째 값인지	{0}, {1} 등
정렬	텍스트 정렬 방법 (<, >, ^)	:<10, >10
폭 (width)	출력할 공간의 폭 (숫자)	10, 5, 3
형식	숫자 형식 (f, d, %, 등)	.2f, x, % 등

{:.2f} → 소수점 아래 2자리까지 표시

:d → 정수

:x → 16진수

:>10 → 오른쪽 정렬 (10칸)

:<10 → 왼쪽 정렬 (10칸)

:^10 → 가운데 정렬 (10칸)

In [2]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화 하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = input('이름은?')
age  = int(input('나이는?'))
print('[{}님의 나이는 {}살입니다]'.format(name, age))

이름은?홍길동
나이는?23
[홍길동님의 나이는 23살입니다]

In [3]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
a = int(input('계산할 첫번째 정수를 입력하세요'))
b = int(input('계산할 두번째 정수를 입력하세요'))
print('[덧셈 :',a+b,']', '[뺄셈 :',a-b,']', '[곱셈 :',a*b,']', '[나눗셈 :',a/b,']', '[몫 :',a//b,']', '[나머지 :',a%b,']')

계산할 첫번째 정수를 입력하세요3
계산할 두번째 정수를 입력하세요5
[덧셈 : 8 ] [뺄셈 : -2 ] [곱셈 : 15 ] [나눗셈 : 0.6 ] [몫 : 0 ] [나머지 : 3 ]

In [8]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여‘World Hello'로 출력하세요
c = 'Hello World'
d_list = c.split()
print(d_list[1], d_list[0])

World Hello

In [9]:
# 4. x = 'abcdef＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x = 'abcdef'
x_answer = x[1:7]
print(x_answer,x[0],sep='')

bcdefa

In [10]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
x_answer = x[7::-1]
print(x_answer)

fedcba

In [12]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
# 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
# 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
# C 는 섭씨 , F 는 화씨
# C = (F32) / 1.8
# F = (C1.8) + 32
c_temp = float(input("섭씨 온도를 입력하세요 :" ))
f_temp = ((c_temp*1.8) + 32)

if f_temp %1 == 0:
    print('입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는',f"{int(f_temp)}도",'입니다')
else:
    print('입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는',f"{f_temp:.2f}도",'입니다')

섭씨 온도를 입력하세요 :1
입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는 33.80도 입니다

In [2]:
name = '민수'
age = 25
text = "안녕하세요, 제 이름은 {}이고 나이는 {}살입니다".format(name, age)
print(text)

안녕하세요, 제 이름은 민수이고 나이는 25살입니다

In [3]:
text = "나이는 {1}살이고 이름은 {0}입니다".format(name, age)
print(text)

나이는 25살이고 이름은 민수입니다

In [4]:
text = "이름 : {name}, 나이 {age}".format(name='지수', age=30)
print(text)

이름 : 지수, 나이 30

In [6]:
pi = 3.141592
print("원주율은 {:.2f}입니다".format(pi))

원주율은 3.14입니다

In [7]:
name = "홍길동"
balance = 123456.789
print("고객명: {:<10} | 잔액: {:>15,.2f}원".format(name, balance))

고객명: 홍길동        | 잔액:      123,456.79원

# 1. if  조건문
어떤 조건이 참인지 확인해서 코드를 실행
```
if 조건:
    실행할 코드

elif 다른_조건:
    실행할 코드

else:
    위 조건이 모두 False일 때 실행
```

In [12]:
age = int(input('나이는?'))

if age >= 18:
    print("성인입니다.")

elif age >= 13:
    print("청소년입니다.")

else:
    print("어린이입니다.")

나이는?19
성인입니다.

# 2. for 문 (반복문)

어떤 값들의 집합(리스트, 문자열 등) 을 하나씩 반복하면서 작업을 할 때 사용

```
for 변수 in 반복가능한_것:
    실행할 코드
```
```
range()와 함께 사용
for i in range(5):  # 0부터 4까지
    print(i)
```
```
range(시작, 끝, 증가폭)
for i in range(1, 11, 2):
    print(i)
```

In [13]:
fruits = ["사과", "바나나", "딸기"]
for fruit in fruits:
    print(fruit)

사과
바나나
딸기

In [14]:
for i in range(5):  # 0부터 4까지
    print(i)

0
1
2
3
4

In [15]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [16]:
for i in range(1, 11):
    if i % 2 == 0:
        print(f"{i}는 짝수입니다.")
    else:
        print(f"{i}는 홀수입니다.")

1는 홀수입니다.
2는 짝수입니다.
3는 홀수입니다.
4는 짝수입니다.
5는 홀수입니다.
6는 짝수입니다.
7는 홀수입니다.
8는 짝수입니다.
9는 홀수입니다.
10는 짝수입니다.