In [51]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font family: Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family: Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding top:120px;}
div.text_cell_render ul li {font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font clolo = "red" size = "5"> ch03. 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋() : 셋은 기피하는 단어들을 불 허용할 때 사용함

# 1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1로 표현할 수 있음
- 슬라이싱 :( [from:stop:step] ) from생략하면 처음부터, stop생략하면 끝까지, step없애면 하나씩, 거꾸로하고 싶으면 -1
    : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [4]:
# []를 이용해서 다중 변수 저장
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits) # 타입확인

list

In [6]:
# 다중 변수 중 필요한 하나의 변수만 불러오고 싶으면 [] 사이에 인덱스 번호로 호출할 수 있음
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [8]:
# 0번 인덱스에 다른 변수로 바꾸어 저장하는 방법
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [16]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print('z={}'.format(z))
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [20]:
# range(from, stop=to, step=by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(101, 111)) # range(from, to)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [22]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [25]:
# 반복문(3회)
for i in [0, 1, 2]: # i 변수 안에 in 뒤의 []안에 있는 list 순서대로 i 변수가 저장됨 ex) i=0, i=1, i=2
    print(i)

0
1
2

In [37]:
# 반복문(30회)
for i in range(30): # for i in (list(range)): 이렇게도 가능
    print(i) #for 문을 완성하지 않고 남겨두고 싶은경우 pass를 들여쓰기 하면 됨

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [36]:
fruits = ['mango', 'apple', 'orange']
for i in fruits: # 들여쓰기는 블럭, 무조건 들여쓰기 신경쓰기
    print(i)
    # print('hello')
print('hello')

mango
apple
orange
hello

In [40]:
fruits = ['mango', 'apple', 'orange']
#a = ['a', 'b', 'c']
for i in range(3):
    print(fruits[i])
    #print(a)

mango
['a', 'b', 'c']
apple
['a', 'b', 'c']
orange
['a', 'b', 'c']

In [42]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print("{}번째 과일은 {}입니다".format(i, fruits[i])) # i를 인덱스로 저장한 포맷형식, i=1, i=2, i=3

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [47]:
fruits = ['mango', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)): # 마지막 인덱스 +1로 표현해야 하드코딩이 아님 
    print("{}번째 과일은 {}입니다".format(i,fruits[i])) # 하드코딩 : list에 4개인데 range 값이 3개인경우 이런 코딩은 옳지 않음

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [49]:
for value in fruits: #인덱스가 필요없는 경우
    print(value)

mango
apple
orange
grape

In [ ]:
i, v = [1, 'mango']
print(i)
print(v)

In [53]:
fruits = ['mango', 'apple', 'orange', 'grape']
for idx, value in [[0, 'mango'],[1,'apple'],[2,'orange'],[3,'grape']]:
    print("{}번째 과일은 {}입니다".format(idx,value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [54]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [55]:
fruits = ['mango', 'apple', 'orange', 'grape']

# enumerate(나열가능한 자료) : -> (index,값)들의 셋들
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다".format(idx,value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [62]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6] ] # list 안에 다른 list를 담을 수도 있음
print(numbers)
print(numbers[1], numbers[4][1]) # list 안에 다른 list 중 하나를 출력하고 싶은 경우 list가 담긴 변수[4][1] 인덱스 번호로 출력 가능함

[0, True, '2', 3, [4, 5, 6]]
True 5

In [64]:
# 학생 3명의 국,영,수 점수를 list에 저장하고 싶다. 홍길동 : 90점, 100점, 9점 말동 : 4점, 5점, 9점  기동 : 9점, 9점, 9점
students = [
    ["홍길동", 90, 100, 9],
    ["말동", 4, 5, 9],
    ["기동", 9, 9, 9]
]
for student in students:
    name = student[0]
    kor = student[1]
    eng = student[2]
    math = student[3]
    
    print(f"{name} - 국어: {kor}, 영어: {eng}, 수학: {math}")

홍길동 - 국어: 90, 영어: 100, 수학: 9
말동 - 국어: 4, 영어: 5, 수학: 9
기동 - 국어: 9, 영어: 9, 수학: 9

In [69]:
# 2차원 리스트  # 리스트안에 여러가지 리스트를 넣고 추출하는 방법
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],] #마지막 리스트 뒤에 ,를 넣어서 나중에 추가할 때 혹시 모를 오류를 방지할 수 있다
len(numbers_2d), len(numbers_2d[0]) # numbers_2d 변수에 3가지 항목이 저장되어 있고, 3가지 항목의 list 안에는 4가지 항목이 있음

(3, 4)

In [ ]:
i = 10

In [71]:
for idx, row in enumerate(numbers_2d):
    print(idx, row)

0 [90, 91, 92, 93]
1 [80, 81, 82, 83]
2 [70, 71, 72, 73]

In [77]:
for i, row in enumerate(numbers_2d): # enumerate(numbers_2d) = 0, 1, 2
    for j, value in enumerate(row):  # enumerate(row) : 0,1, 2, 3
        print("{}행{}열:{}".format(i, j, value), end='\t') #end, sep 변경
    print() # end='\n'이 들어 있기 때문에 빈칸으로 할 경우 한번 반복 할 때마다 \n이 실행됨

0행0열:90	0행1열:91	0행2열:92	0행3열:93
1행0열:80	1행1열:81	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [82]:
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]

for nb2 in numbers_2d:
    num_list1 = nb2[0]
    num_list2 = nb2[1]
    num_list3 = nb2[2]
    num_list4 = nb2[3]
    
    print(f"{num_list1}, {num_list2}, {num_list3}, {num_list4}")

90, 91, 92, 93
80, 81, 82, 83
70, 71, 72, 73

In [85]:
for row in numbers_2d: # numbers_2d 에서 row list를 뽑아줘
        for item in row: # 뽑은 row 에서 item list를 뽑아줘
            print(item, end='\t')
        print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [86]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3],
              [50, 54],]

In [87]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [94]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [95]:
# 2차원 list의 min() : 첫번째 요소가 가장 작은 것 (0번 인덱스)
#              max() : 첫번째 요소가 가장 큰 것 (0번 인덱스)
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [97]:
m1 = 999 # 최소값을 담을 변수 안쓰는 코드이니 무시
for item1 in numbers:
    if item1 < m1:
        m1 = item1
m1

1

In [98]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [103]:
numbers = [1, 3, 12, 5, 4]
# 정렬(오름차순 : 앞에가 제일 작은애, 내림차순: 앞에가 제일 큰애)
print('오름차순 :', sorted(numbers)) # sorted(나열가능한 데이터) 오름차순 정렬
print('내림차순 :', sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 3, 12, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만큼 반복
append() : 리스트 맨 뒤에 요소 추가
extend() : 리스트 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가 (기존 데이터는 shift) shift=뒤로 밀어진다
```

In [110]:
# + 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [111]:
# * 반복
numbers = [1, 2, 3]
print(numbers * 3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [112]:
# append() 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [114]:
numbers.append([5,6,7]) # 맨 뒤에 리스트 안에 리스트 요소로 추가됨
print(numbers)

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7]]

In [117]:
# expend() 추가 (대부분 append() 10번에 expend() 한번함)
# 요소별로 각기 추가됨
num = [1, 2, 3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [121]:
# insert(index, 'X')
num.insert(2, 'X')
print(num)

[1, 2, 'X', 'X', 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                      찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [123]:
# count() list안에 내가 찾는 변수가 몇개 들어있는지 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [125]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [126]:
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index를 반환 index(2=내가 찾고싶은것, 3=0,1,2,3번째 이후부터 찾아줘)

5

In [128]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if numbers.count(9):
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [133]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers:
    print(numbers.index(9)) # 인덱스는 오류가 날 수 있기 때문에 보통 if in 함수와 같이 쓴다

else:
    print('9가 없어요')

9가 없어요

In [129]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [134]:
# 우리만의 함수 만들기 find  # 함수를 만들때는 def를 적어야함
def safe_index(lst, data):
    if data in lst: #lst 안에 data가 있으면 True, 없으면 False
        return lst.index(data) # 리스트 안에 data가 몇번째 인덱스인지 반환
    else:
        return -1 # 없으면 -1을 반환

In [135]:
safe_index(numbers, 9) # numbers = lst, 9 = data

-1

In [136]:
# numbers.index(9) 오류
# numbers(20) 오류
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위가 벗어나도 에러 안 남)
    - [from:stop:step] from부터 stop 앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음을 의미. stop 생략시 끝을 의미. step 생략시 1을 의미. 모두 생략 가능(원래 list랑 똑같은 값)
    - 음수 인덱스 가능
2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [140]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2]) #짝수번째
# 꺼꾸로 출력
print(numbers[::-1])
print(sorted(numbers, reverse=True))

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]
[20, 13, 12, 10, 9, 5, 3, 1]

In [149]:
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.

numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []

for data in numbers:
    if data % 2 == 0:  # 짝수 조건 if not data%2: 도 가능함
        result.append(data)

print(result)

[10, 12, 20]

In [153]:
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.

numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []

for data in numbers:
    result.append(data)
    
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

**리스트 컴프리헨션**

In [154]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers ]

[1, 3, 5, 9, 10, 12, 13, 20]

In [156]:
result = [x for x in numbers if x % 2 == 0]
result

[10, 12, 20]

In [159]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [ ]:
# ex1. numbers에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[data for data in numbers if data>=10]

In [163]:
# ex2,fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>5]

['orange']

In [164]:
# ex3. 3 이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[data**2 for data in L if data>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [175]:
# 인덱스를 이용해서 수정
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
print('2번째 인덱스 수정 :',numbers)

2번째 인덱스 수정 : [0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [178]:
# 슬라이싱을 이용해서 요소 수정(step부분이 미포함 : 부분 리스트가 통째로 수정)
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
print('1번째 인덱스부터 3번째까지 인덱스를 변경 :', numbers)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers[1:4] = ['X']
print('1번째 인덱스부터 3번째까지 인덱스를 변경 :', numbers)

1번째 인덱스부터 3번째까지 인덱스를 변경 : [0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 6, 7, 8, 9]
1번째 인덱스부터 3번째까지 인덱스를 변경 : [0, 'X', 4, 5, 6, 7, 8, 9]

In [182]:
# 슬라이싱을 이용해서 요소 수정(step부분이 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['X']*5 #짝수번째 요소가 5개
print('짝수번째 인덱스만 변경 :', numbers)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99,98,97,96,95]
print('짝수번째 인덱스만 변경 :', numbers)

짝수번째 인덱스만 변경 : ['X', 1, 'X', 3, 'X', 5, 'X', 7, 'X', 9]
짝수번째 인덱스만 변경 : [99, 1, 98, 3, 97, 5, 96, 7, 95, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제됨. (맨 마지막 인덱스 값이 삭제되어 반환됨)
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트 안에 데이터 삭제
- del 변수[idx] : idx번째 요소가 삭제
- clear() : 모든 항목 삭제 ex) 변수.clear()

In [183]:
def add(x, y):
    print(x, y, '잘받았다')

In [184]:
add(4, 2)

4 2 잘받았다

In [203]:
#마지막 자리 지우기 pop()
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print('삭제된 데이터 : {} 리스트 : {}'.format(delete_data, numbers))

#인덱스 지정하여 지우기 pop(0)
numbers = [1, 2, 3, 4, 5]
delete_data2 = numbers.pop(0)
print('삭제된 데이터 : {} 리스트 : {}'.format(delete_data2, numbers))

#특정한 인덱스를 삭제하나 반환은 안됨
numbers = [1, 2, 3, 4, 5]
del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1 리스트 : [2, 3, 4, 5]
numbers : [1, 2, 4, 5]

In [204]:
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당데이터가 없으면 오류
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print('remove는 반환을 안하지만 삭제는 됨 변수지정 할필요 없음 :',numbers)

remove는 반환을 안하지만 삭제는 됨 변수지정 할필요 없음 : [1, 2, 4, 5]

In [205]:
# 인덱스와 리무브는 오류가 날 경우가 있기 때문에 인(in) 연산자와 함께 쓸것
if 9 in numbers:
    numbers.remove(9)

else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [211]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [212]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다
5 삭제 완료

In [213]:
numbers

[1, 2, 4]