In [51]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font family: Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family: Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding top:120px;}
div.text_cell_render ul li {font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font clolo = "red" size = "5"> ch03. 데이터구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋() : 셋은 기피하는 단어들을 불 허용할 때 사용함

# 1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1로 표현할 수 있음
- 슬라이싱 :( [from:stop:step] ) from생략하면 처음부터, stop생략하면 끝까지, step없애면 하나씩, 거꾸로하고 싶으면 -1
    : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [4]:
# []를 이용해서 다중 변수 저장
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits) # 타입확인

list

In [6]:
# 다중 변수 중 필요한 하나의 변수만 불러오고 싶으면 [] 사이에 인덱스 번호로 호출할 수 있음
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [8]:
# 0번 인덱스에 다른 변수로 바꾸어 저장하는 방법
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [16]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print('z={}'.format(z))
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [20]:
# range(from, stop=to, step=by) : from부터 to앞까지 by씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # by 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(101, 111)) # range(from, to)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [22]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [25]:
# 반복문(3회)
for i in [0, 1, 2]: # i 변수 안에 in 뒤의 []안에 있는 list 순서대로 i 변수가 저장됨 ex) i=0, i=1, i=2
    print(i)

0
1
2

In [37]:
# 반복문(30회)
for i in range(30): # for i in (list(range)): 이렇게도 가능
    print(i) #for 문을 완성하지 않고 남겨두고 싶은경우 pass를 들여쓰기 하면 됨

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [36]:
fruits = ['mango', 'apple', 'orange']
for i in fruits: # 들여쓰기는 블럭, 무조건 들여쓰기 신경쓰기
    print(i)
    # print('hello')
print('hello')

mango
apple
orange
hello

In [40]:
fruits = ['mango', 'apple', 'orange']
#a = ['a', 'b', 'c']
for i in range(3):
    print(fruits[i])
    #print(a)

mango
['a', 'b', 'c']
apple
['a', 'b', 'c']
orange
['a', 'b', 'c']

In [42]:
fruits = ['mango', 'apple', 'orange']
for i in range(3):
    print("{}번째 과일은 {}입니다".format(i, fruits[i])) # i를 인덱스로 저장한 포맷형식, i=1, i=2, i=3

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다

In [47]:
fruits = ['mango', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)): # 마지막 인덱스 +1로 표현해야 하드코딩이 아님 
    print("{}번째 과일은 {}입니다".format(i,fruits[i])) # 하드코딩 : list에 4개인데 range 값이 3개인경우 이런 코딩은 옳지 않음

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [49]:
for value in fruits: #인덱스가 필요없는 경우
    print(value)

mango
apple
orange
grape

In [ ]:
i, v = [1, 'mango']
print(i)
print(v)

In [53]:
fruits = ['mango', 'apple', 'orange', 'grape']
for idx, value in [[0, 'mango'],[1,'apple'],[2,'orange'],[3,'grape']]:
    print("{}번째 과일은 {}입니다".format(idx,value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [54]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'apple'), (2, 'orange'), (3, 'grape')]

In [55]:
fruits = ['mango', 'apple', 'orange', 'grape']

# enumerate(나열가능한 자료) : -> (index,값)들의 셋들
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}입니다".format(idx,value))

0번째 과일은 mango입니다
1번째 과일은 apple입니다
2번째 과일은 orange입니다
3번째 과일은 grape입니다

In [62]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6] ] # list 안에 다른 list를 담을 수도 있음
print(numbers)
print(numbers[1], numbers[4][1]) # list 안에 다른 list 중 하나를 출력하고 싶은 경우 list가 담긴 변수[4][1] 인덱스 번호로 출력 가능함

[0, True, '2', 3, [4, 5, 6]]
True 5

In [64]:
# 학생 3명의 국,영,수 점수를 list에 저장하고 싶다. 홍길동 : 90점, 100점, 9점 말동 : 4점, 5점, 9점  기동 : 9점, 9점, 9점
students = [
    ["홍길동", 90, 100, 9],
    ["말동", 4, 5, 9],
    ["기동", 9, 9, 9]
]
for student in students:
    name = student[0]
    kor = student[1]
    eng = student[2]
    math = student[3]
    
    print(f"{name} - 국어: {kor}, 영어: {eng}, 수학: {math}")

홍길동 - 국어: 90, 영어: 100, 수학: 9
말동 - 국어: 4, 영어: 5, 수학: 9
기동 - 국어: 9, 영어: 9, 수학: 9

In [69]:
# 2차원 리스트  # 리스트안에 여러가지 리스트를 넣고 추출하는 방법
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],] #마지막 리스트 뒤에 ,를 넣어서 나중에 추가할 때 혹시 모를 오류를 방지할 수 있다
len(numbers_2d), len(numbers_2d[0]) # numbers_2d 변수에 3가지 항목이 저장되어 있고, 3가지 항목의 list 안에는 4가지 항목이 있음

(3, 4)

In [ ]:
i = 10

In [71]:
for idx, row in enumerate(numbers_2d):
    print(idx, row)

0 [90, 91, 92, 93]
1 [80, 81, 82, 83]
2 [70, 71, 72, 73]

In [77]:
for i, row in enumerate(numbers_2d): # enumerate(numbers_2d) = 0, 1, 2
    for j, value in enumerate(row):  # enumerate(row) : 0,1, 2, 3
        print("{}행{}열:{}".format(i, j, value), end='\t') #end, sep 변경
    print() # end='\n'이 들어 있기 때문에 빈칸으로 할 경우 한번 반복 할 때마다 \n이 실행됨

0행0열:90	0행1열:91	0행2열:92	0행3열:93
1행0열:80	1행1열:81	1행2열:82	1행3열:83
2행0열:70	2행1열:71	2행2열:72	2행3열:73

In [82]:
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]

for nb2 in numbers_2d:
    num_list1 = nb2[0]
    num_list2 = nb2[1]
    num_list3 = nb2[2]
    num_list4 = nb2[3]
    
    print(f"{num_list1}, {num_list2}, {num_list3}, {num_list4}")

90, 91, 92, 93
80, 81, 82, 83
70, 71, 72, 73

In [85]:
for row in numbers_2d: # numbers_2d 에서 row list를 뽑아줘
        for item in row: # 뽑은 row 에서 item list를 뽑아줘
            print(item, end='\t')
        print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [86]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3],
              [50, 54],]

In [87]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [94]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [95]:
# 2차원 list의 min() : 첫번째 요소가 가장 작은 것 (0번 인덱스)
#              max() : 첫번째 요소가 가장 큰 것 (0번 인덱스)
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [97]:
m1 = 999 # 최소값을 담을 변수 안쓰는 코드이니 무시
for item1 in numbers:
    if item1 < m1:
        m1 = item1
m1

1

In [98]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [103]:
numbers = [1, 3, 12, 5, 4]
# 정렬(오름차순 : 앞에가 제일 작은애, 내림차순: 앞에가 제일 큰애)
print('오름차순 :', sorted(numbers)) # sorted(나열가능한 데이터) 오름차순 정렬
print('내림차순 :', sorted(numbers, reverse=True))
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 3, 12, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만큼 반복
append() : 리스트 맨 뒤에 요소 추가
extend() : 리스트 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가 (기존 데이터는 shift) shift=뒤로 밀어진다
```

In [110]:
# + 연결
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [111]:
# * 반복
numbers = [1, 2, 3]
print(numbers * 3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [112]:
# append() 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [114]:
numbers.append([5,6,7]) # 맨 뒤에 리스트 안에 리스트 요소로 추가됨
print(numbers)

[1, 2, 3, 4, [5, 6, 7], [5, 6, 7]]

In [117]:
# expend() 추가 (대부분 append() 10번에 expend() 한번함)
# 요소별로 각기 추가됨
num = [1, 2, 3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [121]:
# insert(index, 'X')
num.insert(2, 'X')
print(num)

[1, 2, 'X', 'X', 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                      찾을데이터가 없을 경우 오류
- count(찾을데이터) : 리스트에서 찾을데이터의 갯수 반환

In [123]:
# count() list안에 내가 찾는 변수가 몇개 들어있는지 반환
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [125]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [126]:
numbers.index(2, 3) # 3번째 index부터 2가 처음 나오는 index를 반환 index(2=내가 찾고싶은것, 3=0,1,2,3번째 이후부터 찾아줘)

5

In [128]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if numbers.count(9):
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [133]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers:
    print(numbers.index(9)) # 인덱스는 오류가 날 수 있기 때문에 보통 if in 함수와 같이 쓴다

else:
    print('9가 없어요')

9가 없어요

In [129]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [134]:
# 우리만의 함수 만들기 find  # 함수를 만들때는 def를 적어야함
def safe_index(lst, data):
    if data in lst: #lst 안에 data가 있으면 True, 없으면 False
        return lst.index(data) # 리스트 안에 data가 몇번째 인덱스인지 반환
    else:
        return -1 # 없으면 -1을 반환

In [135]:
safe_index(numbers, 9) # numbers = lst, 9 = data

-1

In [136]:
# numbers.index(9) 오류
# numbers(20) 오류
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위가 벗어나도 에러 안 남)
    - [from:stop:step] from부터 stop 앞까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음을 의미. stop 생략시 끝을 의미. step 생략시 1을 의미. 모두 생략 가능(원래 list랑 똑같은 값)
    - 음수 인덱스 가능
2. <font color="red">리스트 컴프리헨션</font> : 리스트에서 원하는 데이터를 추출

In [140]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 인덱스 값 출력
print(numbers[::2]) #짝수번째
# 꺼꾸로 출력
print(numbers[::-1])
print(sorted(numbers, reverse=True))

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]
[20, 13, 12, 10, 9, 5, 3, 1]

In [149]:
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.

numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []

for data in numbers:
    if data % 2 == 0:  # 짝수 조건 if not data%2: 도 가능함
        result.append(data)

print(result)

[10, 12, 20]

In [153]:
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.

numbers = [1, 3, 5, 9, 10, 12, 13, 20]
result = []

for data in numbers:
    result.append(data)
    
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

**리스트 컴프리헨션**

In [154]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers ]

[1, 3, 5, 9, 10, 12, 13, 20]

In [156]:
result = [x for x in numbers if x % 2 == 0]
result

[10, 12, 20]

In [159]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [ ]:
# ex1. numbers에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[data for data in numbers if data>=10]

In [163]:
# ex2,fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>5]

['orange']

In [164]:
# ex3. 3 이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[data**2 for data in L if data>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [175]:
# 인덱스를 이용해서 수정
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
print('2번째 인덱스 수정 :',numbers)

2번째 인덱스 수정 : [0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [178]:
# 슬라이싱을 이용해서 요소 수정(step부분이 미포함 : 부분 리스트가 통째로 수정)
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
print('1번째 인덱스부터 3번째까지 인덱스를 변경 :', numbers)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[2] = 222
numbers[1:4] = ['X']
print('1번째 인덱스부터 3번째까지 인덱스를 변경 :', numbers)

1번째 인덱스부터 3번째까지 인덱스를 변경 : [0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 6, 7, 8, 9]
1번째 인덱스부터 3번째까지 인덱스를 변경 : [0, 'X', 4, 5, 6, 7, 8, 9]

In [182]:
# 슬라이싱을 이용해서 요소 수정(step부분이 포함 : 요소 갯수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['X']*5 #짝수번째 요소가 5개
print('짝수번째 인덱스만 변경 :', numbers)

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99,98,97,96,95]
print('짝수번째 인덱스만 변경 :', numbers)

짝수번째 인덱스만 변경 : ['X', 1, 'X', 3, 'X', 5, 'X', 7, 'X', 9]
짝수번째 인덱스만 변경 : [99, 1, 98, 3, 97, 5, 96, 7, 95, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제됨. (맨 마지막 인덱스 값이 삭제되어 반환됨)
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트 안에 데이터 삭제
- del 변수[idx] : idx번째 요소가 삭제
- clear() : 모든 항목 삭제 ex) 변수.clear()

In [183]:
def add(x, y):
    print(x, y, '잘받았다')

In [184]:
add(4, 2)

4 2 잘받았다

In [203]:
#마지막 자리 지우기 pop()
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print('삭제된 데이터 : {} 리스트 : {}'.format(delete_data, numbers))

#인덱스 지정하여 지우기 pop(0)
numbers = [1, 2, 3, 4, 5]
delete_data2 = numbers.pop(0)
print('삭제된 데이터 : {} 리스트 : {}'.format(delete_data2, numbers))

#특정한 인덱스를 삭제하나 반환은 안됨
numbers = [1, 2, 3, 4, 5]
del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1 리스트 : [2, 3, 4, 5]
numbers : [1, 2, 4, 5]

In [204]:
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당데이터가 없으면 오류
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print('remove는 반환을 안하지만 삭제는 됨 변수지정 할필요 없음 :',numbers)

remove는 반환을 안하지만 삭제는 됨 변수지정 할필요 없음 : [1, 2, 4, 5]

In [205]:
# 인덱스와 리무브는 오류가 날 경우가 있기 때문에 인(in) 연산자와 함께 쓸것
if 9 in numbers:
    numbers.remove(9)

else:
    print('해당 데이터가 없습니다')

해당 데이터가 없습니다

In [211]:
def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다')

In [212]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다
5 삭제 완료

In [213]:
numbers

[1, 2, 4]

## 1.8 정렬하기

In [11]:
numbers = [1, 9, 5, 0, 8] # reverse=True:내림차순
print('numbers는 변경하지 않고 정렬 :', sorted(numbers, reverse=True))
print('numbers :', numbers)

numbers는 변경하지 않고 정렬 : [9, 8, 5, 1, 0]
numbers : [1, 9, 5, 0, 8]

In [12]:
numbers.sort() # numbers list 안에 요소들의 정렬 순서까지 변경되어 적용됨(기본 정렬 : 오름차순)
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[0, 1, 5, 8, 9]
[9, 8, 5, 1, 0]

In [13]:
numbers.reverse()
print('numbers 자체가 내림차순 정렬로 변경됨 :', numbers.reverse())
print(numbers)

numbers 자체가 내림차순 정렬로 변경됨 : None
[9, 8, 5, 1, 0]

In [14]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [16]:
# 스칼라 데이터의 복제
i = 10     #원본
copy_i = i #복제본
print(f"원본={i}, 복사본{copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사본{copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본=10, 복사본10 / 원본주소=2569427157520, 복사본주소=2569427157520
원본=10, 복사본99 / 원본주소=2569427157520, 복사본주소=2569427160368

In [20]:
# 리스트(numpy배열, 데이터프레임, 딕셔너리)의 복제 (절대 안됨)
numbers = [5, 8, 1]   # 원본
new_numbers = numbers # 복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복제본 :', new_numbers)

원본 : [9, 8, 1]
복제본 : [9, 8, 1]

In [22]:
# 얕은 복사 (결과가 위와 같으므로 절대 안됨)
numbers = [5, 8, 1]             # 원본
new_numbers = numbers           # 얕은 복사(할당)
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')
new_numbers[0] = -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=2569552144832, 복제본주소=2569552144832
복제본만 지지고 볶고
원본=[-99, 1, 8], 복제본=[-99, 1, 8]
원본주소=2569552144832, 복제본주소=2569552144832

In [25]:
# 깊은 복사(복제)
numbers = [5, 8, 1]             # 원본
new_numbers = numbers.copy()    # 깊은 복사(복제)
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99)
print("복제본만 지지고 볶고")
print(f'원본={numbers}, 복제본={new_numbers}')
print(f'원본주소={id(numbers)}, 복제본주소={id(new_numbers)}')

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=2569515487104, 복제본주소=2569552135872
복제본만 지지고 볶고
원본=[5, 8, 1], 복제본=[1, 8]
원본주소=2569515487104, 복제본주소=2569552135872

In [27]:
numbers.clear() # 리스트의 요소를 모두 삭제
numbers

[]

# 2절. 튜플
- 리스트와 유사하지만, 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정불가하므로, 튜플에 데이터 수정, 추가, 삭제 불가 (제공되는 함수도 많지 않다)
- (), tuple() 이용해서 생성

In [29]:
# city = ('서울','부산','인천','목표')
# 파이썬은 여러개의 값이 전달될 때, 튜플 타입으로 전달
city = '서울', '부산', '인천', '목표'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목표')

In [33]:
# city = ['서울', '부산', '인천', '목표']
city = ('서울', '부산', '인천', '목표')
' = '.join(city)

'서울 = 부산 = 인천 = 목표'

In [34]:
l = ['서울', 3] # 요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [36]:
t = ('서울', ) # 요소가 하나 있는 튜플(, 반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [39]:
# 튜플에서 사용 불가한 함수들
numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4) 
# numbers.pop()
# numbers.sort()
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [41]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [47]:
if 9 in numbers:
    numbers.index(9)
else:
    print('요소에 9가 없습니다')

요소에 9가 없습니다

In [92]:
# safe.py : ai_x폴더에 source 폴더 py폴더 안에 생성 후 저장했음

def safe_index(lst, item):
    """
    lst 안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1 반환
    lst : 나열가능한 데이터
    item : 찾을 데이터
    """
    if item in lst:
        return lst.index(item)
    else:
        return -1
#    return lst.index(item) if item in lst else -1

In [1]:
from safe import safe_index
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [2]:
numbers * 3 # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [30]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3, 4, 5, 6)
tuple([num**2 for num in numbers if num%2==0])

(4, 16, 36)

In [17]:
numbers = (1, 2, 3, 4, 5, 6)

result_list = []

for num in numbers:
    if num % 2 == 0:      # 짝수라면
        result_list.append(num ** 2)  # 제곱해서 리스트에 추가

result_tuple = tuple(result_list)  # 리스트를 튜플로 변환
print(result_tuple)  # 출력: (4, 16, 36)

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호({})를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복 불가(유일한 값). 키에 list는 사용불가.
- 값은 중복 가능
- 인덱스를 이용한 참조 지원 안 함

In [24]:
dic = {'name':'홍길동', 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)
print('데이터 갯수 :', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 : 3

In [28]:
my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [32]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) # ★ 이걸 더 많이 씀

apple
apple

In [41]:
# print(my_favorite['people'])   # 없는 키값을 인덱스 방식으로 데이터를 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get 함수로 참조시 None으로 반환 (None=False)
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'

None
-

In [51]:
# 딕셔너리 데이터 수정하기
my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango' # 데이터 수정
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' #데이터 추가
print('people 데이터 추가 :', my_favorite)
del my_favorite['fruit']
print('fruit 제거 후 :', my_favorite)
remove_data = my_favorite.pop('number') # number키의 값을 반환하고 제거
print('remove_data :', remove_data)
print('number 제거 후 딕셔너리 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
people 데이터 추가 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_data : 12
number 제거 후 딕셔너리 : {'sport': 'golf', 'people': '홍길동'}

In [56]:
# for 문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999')

In [65]:
for data in my_tup:
    print(data, end='\t')
print()

for idx in range(len(my_tup)):
    print(f'{idx}번째 {my_tup[idx]}', end='\t')
print()

for idx, value in enumerate(my_tup):
    print(f'{idx}번째 {value}', end='\t')

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [78]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [79]:
for key in my_dic: #my_dic.keys()        # 엄청 비추
    print(my_dic.get(key), end='\t')

홍길동	30	010-9999-9999

In [70]:
for key in my_dic:         # 엄청 비추
    print(my_dic.get(key), end='\t')

홍길동	30	010-9999-9999

In [69]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-9999

In [72]:
my_dic.values() # 값만 추출

dict_keys(['name', 'age', 'tel'])

In [74]:
my_dic.keys() # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [75]:
my_dic.items() # 키, 값 쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [77]:
for key, value in my_dic.items():   #이런 형식을 가장 많이 씀
    print(f'{key}:{value}', end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [87]:
for idx, (key, value) in enumerate(my_dic.items()):
    print('{}.{:4} : {}'.format(idx+1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [86]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [88]:
"홍길동" in my_dic #.keys()

False

In [89]:
"홍길동" in my_dic.values()

True

In [90]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12} #원본
new_favorite = my_favorite # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [91]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12} #원본
new_favorite = my_favorite.copy() # 복제본(깊은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋
- 중복을 허용하지 않는 집합(순서X == 인덱스X)
- 중괄호 ({})나 set()함수를 이용해서 셋 생성
- 추가 : add() 중복된 데이터가 없으면 추가, update() 데이터가 있으면 수정
- 집합연산자 : & 합집합, | 교집합, - 여집합
- 삭제 : remove()

In [94]:
fruits = {'banana','orange','banana','banana','banana','banana','banana','apple'}
print(fruits)

{'banana', 'apple', 'orange'}

In [96]:
s1= set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [98]:
# set 함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
my_favorite = {'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형(스칼라데이터), 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리(키값), 셋 요소를 하나하나씩 추가할 경우. dict 사용시 key만 추가

In [101]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5,6,7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [118]:
# 논리값 False는 False, 0으로 인식, True는 True, 1로 인식
s = {1, 2, 3}
s.add(False)
s.add(True)
s.add(1)
s

{False, 1, 2, 3}

In [119]:
s.remove(True)
s

{False, 2, 3}

## 연산:&(교집합), |(합집합), -(차집합)

&, | : 집합연산자, 논리연산자, 비트연산자

In [124]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 = ', s1|s2)
print('s1 & s2 = ', s1&s2)
print('s1 - s2 = ', s1-s2)

s1 | s2 =  {1, 2, 3, 4, 5, 6, 7}
s1 & s2 =  {3, 4, 5}
s1 - s2 =  {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 딕셔너리, 셋에도 사용. for문에 사용시

In [125]:
names = {'길자', '길동', '영자'}
for name in names:
    print(name, end='\t')

영자	길동	길자

In [127]:
for no, name in enumerate(names):
    print(f'{no+1}.{name}')

1.영자
2.길동
3.길자

In [151]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울','인천','판교']

#for idx in range(len(names)):
#    print("{}의 연락처는 {}고 {} 살아요".format(names[idx], tels[idx], adds[idx]))

for idx in range(len(names)):
    print("{}.{}의 연락처는 {}고 {} 살아요".format(idx+1,
                                                    names[idx],
                                                    tels[idx],
                                                    adds[idx]))

1.순자의 연락처는 010-9999-9999고 서울 살아요
2.길동의 연락처는 010-8888-8888고 인천 살아요
3.길자의 연락처는 010-7777-7777고 판교 살아요

In [147]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [150]:
for name, tel, add_ in zip(names, tels, adds):
    print(f'{name} : {tel} - {add_}')

순자 : 010-9999-9999 - 서울
길동 : 010-8888-8888 - 인천
길자 : 010-7777-7777 - 판교

In [152]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [193]:
for idx, (name, tel, add_) in enumerate(zip(names, tels, adds)):
    print('{}. {} : {} - {}'.format(idx+1,
                                   name,
                                   tel,
                                   add_))

1. 순자 : 010-9999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
3. 길자 : 010-7777-7777 - 판교

## 변수가 담을 수 있는 기본 자료형들
<img src = "https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width = "400"
     style = "float:left"
     height = "400"
     >

```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```

# 6절. 연습문제
## 실습형

In [200]:
# 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [201]:
# 1. 숫자 100을 맨 뒤에 추가하세요.
numbers.append(100)

In [202]:
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)

In [203]:
# 3. 처음 다섯 개 숫자만 출력하세요
print(numbers[:5])

[1, 2, 3, 4, 5]

In [227]:
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
#result = [data for data in numbers if data % 2 == 0]
#print(result)

print(numbers[::2])

[400, 10, 6, 2, 0, 0, 0, 0]

In [234]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸세요
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
#for i in range(0, len(numbers), 2):
#    numbers[i] = 0
num_print = [numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))]
print(num_print)
numbers[::2] = [0] * len(numbers[::2])
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

In [206]:
# 6. 데이터를 역순으로 나열하세요(내림차순 정렬이 아닙니다)
numbers.sort(reverse=True)
print(numbers)

[400, 200, 10, 8, 6, 4, 2, 0, 0, 0, 0, 0, 0, 0, 0]

In [240]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
member_info ={"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

In [241]:
# 7. address 값을 출력하세요
print(member_info["address"])
print(member_info.get('address')) #강추

서울시 마포구
서울시 마포구

In [242]:
# 8. score 을 출력하고 member_info 딕셔너리에서 삭제하세요.
#print(member_info["score"])
#del member_info["score"]
#print(member_info.items())

print(member_info.pop("score"))
print(member_info)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}

In [210]:
# 9. address 를 "서울시 서대문구"로 변경하세요
member_info["address"] = "서울시 서대문구"
print(member_info["address"])

서울시 서대문구

In [211]:
# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
list_ = list(member_info.items())
print(list_)

[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

## 서술형

In [212]:
# 1. 다음 코드를 실행했을 때 출력되는 것은?
#L1 = ("orange", "apple", "banana", "kiwi")
#new_list = [i for i in L1 if len(i)>5]
#print(new_list)

#정답 : 5글자보다 큰 글자수의 것들만 뽑아냈으므로 정답은 "orange", "banana" 입니다.

In [213]:
# 2. 다음 코드와 실행결과가 잘못 짝지어진 것은?
#정답 : 3번 print(list(range(10,0,-1))) - [9,8,7,6,5,4,3,2,1,0]
#      (시작 : 끝 : 스텝) 이므로 시작인 10부터 시작해야 합니다. 10,9,8,7,6,5,4,3,2,1

In [214]:
# 3. 다음 구문에 의해 출력되는 것은?
#numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
#len(numbers_2d[3])
#정답 : 0,1,2,3번째 인덱스 = [2,] 이고 len으로 [2,]를 봤을 때 안에 든 요소가 1개라서 정답은 1을 출력한다 입니다.

In [215]:
# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
#numbers = [1, 2, 3, 4, 5]
#numbers._________[10, 20, 30, 40, 50]
#numbers

# 정답 : extend([10, 20, 30, 40, 50])

In [216]:
# 5. 다음 구문을 실행할 때 결과는 ?
#numbers = list(range(10)) #0~9
#numbers[::2] #0,2,4,6,8 = [0] * len(numbers[::2])
#print(numbers)

# 정답 : [0, 1, 0, 3, 0, 5, 0, 7, 0, 9] 짝수번째 값을 구한 것을 len(numbers[::2])번 만큼 0으로 바꾸어 저장합니다.

In [217]:
# 6. 다음 구문을 실행할 때 결과는 ?
#numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
#numbers[::2] = numbers[5:]
#print(numbers)

# 정답 : [5, 1, 6, 3, 7, 5, 8, 7, 9, 9] 짝수번째 값을 numbers[5:]=5,6,7,8,9로 바꾸어 저장합니다.

In [218]:
# 7. 다음 구문을 실행할 때 결과는 ?

#6번 문제와 동일한 문제 중복입니다.

In [219]:
# 8. 다음 데이터에서 10을 출력할 수 없는 구문은?
# 정답 : 1번 my_dic[0] 딕셔너리에는 인덱스가 없어서 리스트로 변환 후 값을 인덱스로 불러올 수 있습니다.

In [220]:
# 9. 다음 프로그램의 결과를 출력하시오.
#fruits = ['apple', 'banana', 'orange']
#x, y, z = fruits
#print(x)
#print(y)
#print(z)

#정답 : apple \n banana \n orange \n

In [221]:
# 10. 다음 프로그램의 결과를 출력하시오
#fruits = ['apple', 'banana', 'orange']
#print(len(fruits))

# 정답 : 3 , len은 리스트의 요소 갯수를 의미하므로 3 입니다.

In [222]:
# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?

# 정답 : def