In [ ]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font family:Consolas ; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding top:120px;}
div.text_cell_render ul li {font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [1]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는" , area)

계산된 넓이는 78.5

In [5]:
import numpy as np
area = np.pi * r * r
print('area = ', area)

area =  78.53981633974483

In [6]:
area.is_integer() # area가 interger인지 여부를 반환

False

In [7]:
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2366605363888
area의 타입 : <class 'float'>

In [8]:
area = 5.5
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2366600903344
area의 타입 : <class 'float'>

In [9]:
area = 10
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2368669286928
area의 타입 : <class 'int'>

In [10]:
area = "파이썬"
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2366629122224
area의 타입 : <class 'str'>

## 1.2 변수이름 규칙
- 문자로 시작(숫자시작불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글변수는 꼭 필요시에만 이용

In [11]:
이름 = "홍길동" # 비추
print(이름)

홍길동

In [12]:
이름

'홍길동'

In [13]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [16]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [17]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [18]:
#파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j #복소수
type(i)

complex

In [20]:
isinstance(i, complex) # i 변수(객체)가 complex인지 여부

True

## 1.3 도움말

In [21]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [23]:
help() # help를 빠져나오려면 q 입력 / ESC+o : 결과 접기/펴기

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅁㄴㅇ
No Python documentation found for 'ㅁㄴㅇ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# 도움말 기능 : shift+tab키
print()

In [33]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [34]:
add(2)

20

In [35]:
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [45]:
a = 10
b = 20

In [47]:
a, b = 10, 20
print(a, b)

10 20

In [48]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당
a, b = b, a+b
print(a, b)

20 30

# 2절. 화면입출력(i/o)

In [54]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 문자열로 입력
first = input("첫번째 숫자는? ")
first

첫번째 숫자는? 8

'8'

In [55]:
second = input('두번째 숫자는? ')

두번째 숫자는? 2

In [56]:
sum = int(first) + int(second)
print('합: ', sum)

합:  10

In [57]:
first = int(input('첫번째 수는? '))
second = int(input('두번째 수는? '))
sum = first + second
print('합', sum)

첫번째 수는? 10
두번째 수는? 20
합 30

In [64]:
print('합', sum, sep='=', end=' / ')
print('합', sum, sep=' ~ ', end=' / ')
print('합', sum, sep='은 ', end=' ')

합=30 / 합 ~ 30 / 합은 30

In [65]:
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [66]:
import sys
sys.maxsize # 정수의 최대값 2**63승(2의 63승 -1)

9223372036854775807

In [70]:
i = sys.maxsize + 9223372036954775807
print(i)
print(type(i))

18446744073809551614
<class 'int'>

In [73]:
f = 4/2 #정수/정수는 무조건 실수
f

2.0

In [76]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 #몫연산자
print(f)
f = int(4/2)
print(f)

2
2

In [78]:
c = 1j # 수학시간의 0+1i
print(c**2) # ** 승연산자

(-1+0j)

In [81]:
f = 1.12e12 # 1.12의 10의 12승 112000000000 지수형표현(작은수도 지수형표현)
print('지수형 표현할당시 실수형으로 저장 :', f)
f = 1.12e-12 # 0.000000000000112
print('지수형 표현할당시 실수형으로 저장 :', f)

지수형 표현할당시 실수형으로 저장 : 1120000000000.0
지수형 표현할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
- 쌍따옴표("-")나 홑따옴표('-')이용

In [88]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
adress = '서울시 관악구 \'신림동\''
adress = "서울시 관악구 '신림동'" # "서울시 관악구 '신길동'"
print(name, adress)

홍길동"짱" 서울시 관악구 '신길동'

In [91]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

In [92]:
### ※ 문자열 연산

In [93]:
'''
    여러 줄 주석 용도
    2025.04.08. 문자열 연산 소스 by 아무개
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [94]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [96]:
print(r'Heloo\nWorld')

Heloo\nWorld