In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font family: Consolas; font-size:12pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family: Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding top:120px;}
div.text_cell_render ul li {font-size:12pt;padding:5px;}
table.dataframe{font-size:12px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>

# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /, //(몫연산자), %(나머지), **(제곱)

In [115]:
print('10의 5승 : ', 10**5)
print('4/2(결과 실수) :', 4/2)
print('4//2(몫) :', 4//2)
print('4%2(나머지) :', 4%2)

10의 5승 :  100000
4/2(결과 실수) : 2.0
4//2(몫) : 2
4%2(나머지) : 0

#### quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력

In [116]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요 :')) 
result = num%2 # if 는 0은 False 1은 True
if result==1:
    temp = "홀수"

else:
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}, 그래서 {temp}를 입력하셨군요")

정수를 입력하세요 :

ValueError: invalid literal for int() with base 10: ''

#### quiz 2정수를 입력받아 5의 배수인지 여부를 출력

In [117]:
# 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
result = num%5
if result:
    temp = "5의 배수가 아닙니다"
    
else:
    temp = "5의 배수가 맞습니다"
print('입력하신 수는 {}, 5를 나누어보면 값은 {}, 그래서 {}'.format(num, result, temp))

정수를 입력하세요 :

ValueError: invalid literal for int() with base 10: ''

#### quiz3 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오

In [118]:
# 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
korlanguage = int(input('국어 점수를 입력해주세요 '))
english = int(input('영어 점수를 입력해주세요 '))
math_ = int(input('수학 점수를 입력해주세요 '))
sum_ = (korlanguage + english + math_)
per_ = sum_/3

국어 점수를 입력해주세요

ValueError: invalid literal for int() with base 10: ''

In [119]:
print("국어:{0:3}\t 영어{1:3}\t 수학{2:3}\t".format(korlanguage, english, math_))
print("총점:{0:3}\t 평균{1:>5.1f}\t".format(sum_, per_))

국어: 10	 영어 20	 수학100
총점:130	 평균 43.3

In [120]:
print("국어:{:3d}\t영어:{:3d}\t수학:{:3d}".format(korlanguage, english, math_))
print("총점:{:3d}\t평균:{:5.1f}".format(sum_, per_))

국어: 10	영어: 20	수학:100
총점:130	평균: 43.3

In [121]:
print("""    국어:{:3d}\t영어:{:3d}\t수학:{:3d}
    총점:{:3d}\t평균:{:5.1f}""".format(korlanguage, english, math_, sum_, per_))

    국어: 10	영어: 20	수학:100
    총점:130	평균: 43.3

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [122]:
a = 10
a += 5 # a = a+5
print('5더하기 :', a)

5더하기 : 15

In [123]:
a -= 5 # a = a - 5
print('5빼기 :', a)
a *= 5 # a = a*5
print('5배 :', a)

5빼기 : 10
5배 : 50

## 5.3 논리연산자 : &(and), and(short circuit), |(or), or(short circuit), not

In [124]:
# & 논리연산, 비트연산자
print((10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트연산 12 : 0000 1100
              #           1 : 0000 0001
              #      12 & 1 : 0000 0000

True
0

In [125]:
# 논리연산
# and : 거짓(False)으로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환 
print(True and 99 and 3)
print(0 and True)
print(True and 'abc')
print(True and False and True) # 처음이 True(1)일경우 False값이 나오는 순간 이후는 관계없음
print(True and [] and True and True and True)

3
0
abc
False
[]

In [126]:
# | : 논리연산, 비트연산
result = False | True
print(result, True | False)
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                    # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

True True
논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [127]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)

None
Hong

In [128]:
print(not True)
print(not False)

False
True

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [129]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4<x) & (x<10)) #java
print(4 < x < 10)

True
True

In [130]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다
print((10>5) & (10>7)) #반드시 괄호를 쳐야한다
print(10>5 & 10>7) # 0101
                   # 1010
print(10> 0> 7)
print(10>5 and 10>7)

True
False
False
True

In [132]:
adress = '서울'
age = 29
# print(adress=='서울' & age>=30) => Error
print((adress=='서울') & (age>=30)) #우선순위 때문에 무조건 괄호를 해야함
print((adress!='서울') & (age>=30))

False
False

In [134]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
'scott' < 'sctiger'

True

In [135]:
'9' > '10'

True

In [137]:
'김길동김수한무거북이와' < '홍길동'

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [138]:
#x y   x&Y   X^Y
#0 0    0     0
#0 1    0     1
#1 0    0     1
#1 1    1     0

In [143]:
a = 15 # 1111
b = 2  # 0010
print(" a = {0:2} : {0:04b}".format(a))
print(" b = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

 a = 15 : 1111
 b =  2 : 0010
a^b = 13 : 1101

#### 연산자
    - 산술연산 : + - * / // % **
    - 할당연산 : = += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비트연산 : > >= < <= == !=
    - 비교연산 : & | ^
    - &와 |은 비교연산자보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수[from:stop:step]
- len(문자열변수) : 문자갯수

- 문자열변수.
- upper() : 모든 글을 대문자로 바꾸어 반환
- lower() : 모든 글을 소문자로 바꾸어 반환
- title() : 각 어절의 첫 글자만 대문자로 바꾸어 반환
- capitalize() : 첫 문자만 대문자로 바꾸어 반환
- count('찾을문자열') : '찾을문자열'이 몇 개 들어있는지 갯수 반환
- find('찾을문자열') : '찾을문자열'이 왼쪽부터 시작하여 몇 번째에 있는지 인덱스를 반환
- rfind('찾을문자열') : '찾을문자열'이 오른쪽부터 시작하여 몇 번째에 있는지 인덱스를 반환
        **찾을문자열이 없으면 -1을 반환**
    cf) index('찾을문자열') : find와 같으나 찾을 문자열이 없으면 에러가 발생
- startswith('특정문자열') : 특정문자열로 시작하는지 여부
- endswith('특정문자열') : 특정문자열로 끝나는지 여부
- strip() : 좌우 공백 제거 #자바는trip()
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부
- islower() : 소문자 문자열인지 여부
- isupper() : 대문자 문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경

.Python - HTML/CSS - JavaScript(jQuery, node, react) - DBMS(oracle) -

In [159]:
temp = "python is ezsy. pYThon is smart. python"
#       012345678901234567890123456789012345678
print('1. 글자수 :', len(temp))
print('2. 대문자로 :', temp.upper())
print('3. 소문자로 :', temp.lower())
print('4. title :', temp.title())
print('5. capitalize() :', temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자구분없이 python이 몇번 나오는지 :', temp.lower().count('python'))
print(' 7-1. 대소문자구분없이 python이 몇번 나오는지 :', temp.upper().count('PYTHON'))
print(' 7-2. 대소문자구분없이 python이 몇번 나오는지 :', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 :', temp.find('python'))
print(' 8-1. python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print(' 8-2. java가 나오는 마지막 index 위치 :', temp.rfind('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('10. python으로 끝나는지 여부 :', temp.endswith('PYTHON'))
print(' 10-1. 대소문자 구분없이 python으로 끝나는지 여부 :', temp.upper().endswith('PYTHON'))

1. 글자수 : 39
2. 대문자로 : PYTHON IS EZSY. PYTHON IS SMART. PYTHON
3. 소문자로 : python is ezsy. python is smart. python
4. title : Python Is Ezsy. Python Is Smart. Python
5. capitalize() : Python is ezsy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자구분없이 python이 몇번 나오는지 : 3
 7-1. 대소문자구분없이 python이 몇번 나오는지 : 3
 7-2. 대소문자구분없이 python이 몇번 나오는지 : 3
8. python이 나오는 첫 index 위치 : 0
 8-1. python이 나오는 마지막 index 위치 : 33
 8-2. java가 나오는 마지막 index 위치 : -1
9. python으로 시작하는지 여부 : True
10. python으로 끝나는지 여부 : False
 10-1. 대소문자 구분없이 python으로 끝나는지 여부 : True

In [175]:
temp = '     python is easy.     '
notdisit = '1,000,000'
num_str = '1000'
print('11. 좌우공백제거 :[{}]'.format(temp.strip()))
print(' 11-1. 좌측공백제거 :[{}]'.format(temp.lstrip()))
print(' 11-2. 우측공백제거 :[{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 :', notdisit.isdigit())
print('13. 소문자문자열인지 :', temp.islower())
print(' 13-1. 대문자문자열인지 :', temp.isupper())
print('14. 1,000,000에서 ,제거 :', notdisit.replace(',', ''))
print(' 14-1. ,제거 :', notdisit.replace(',', ''))
print('14. 1000에서 ,제거 :', num_str.replace(',', ''))

11. 좌우공백제거 :[python is easy.]
 11-1. 좌측공백제거 :[python is easy.     ]
 11-2. 우측공백제거 :[     python is easy.]
12. 숫자문자열인지 : False
13. 소문자문자열인지 : True
 13-1. 대문자문자열인지 : False
14. 1,000,000에서 ,제거 : 1000000
 14-1. ,제거 : 1000000
14. 1000에서 ,제거 : 1000

In [172]:
temp = "홍길동    김길동 신길동        유길동"
print('space단위로 temp를 분리 :', temp.split()) #기본이 space 단위로 분리

space단위로 temp를 분리 : ['홍길동', '김길동', '신길동', '유길동']

In [178]:
data = "2025-04-10"
print(' - 단위로 date를 분리(결과 : list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 date를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [183]:
# ' - '을 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
# temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [ ]:
str_ = 'ABC'
# str_ = ['A', 'B', 'C']

In [186]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜, 날짜시간 다루기

# 8절. 연습문제

In [187]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화 하세요
# [출력형식 : 홍길동님의 나이는 23살입니다]
name = input('이름은?')
age  = int(input('나이는?'))
print('[{}님의 나이는 {}살입니다]'.format(name, age))

이름은?홍길동
나이는?23
[홍길동님의 나이는 23살입니다]

In [197]:
# 2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
a = int(input('계산할 첫번째 정수를 입력하세요'))
b = int(input('계산할 두번째 정수를 입력하세요'))
print('[덧셈 :',a+b,']', '[뺄셈 :',a-b,']', '[곱셈 :',a*b,']', '[나눗셈 :',a/b,']', '[몫 :',a//b,']', '[나머지 :',a%b,']')

계산할 첫번째 정수를 입력하세요4
계산할 두번째 정수를 입력하세요2
[덧셈 : 6 ] [뺄셈 : 2 ] [곱셈 : 8 ] [나눗셈 : 2.0 ] [몫 : 2 ] [나머지 : 0 ]

In [204]:
# 3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여‘World Hello'로 출력하세요
c = 'Hello World'
print(c)
d_list = c.split(' ')
print(d_list[1], d_list[0])

Hello World
World Hello

In [239]:
# 4. x = 'abcdef＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
x = 'abcdef'
x_answer = x[1:7]
print(x_answer,x[0],sep='')

bcdefa

In [234]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
x_answer = x[7::-1]
print(x_answer)

fedcba

In [250]:
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
# 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우 
# 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
# C 는 섭씨 , F 는 화씨
# C = (F32) / 1.8
# F = (C1.8) + 32
c_temp = float(input("섭씨 온도를 입력하세요 :" ))
f_temp = ((c_temp*1.8) + 32)

if f_temp %1 == 0:
    print('입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는',f"{int(f_temp)}도",'입니다')
else:
    print('입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는',f"{f_temp:.2f}도",'입니다')

섭씨 온도를 입력하세요 :3
입력하신 섭씨 온도를 바탕으로 변환된 화씨 온도는 37.40도 입니다